<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
  <ng-container matColumnDef="firstname">
    <th mat-header-cell *matHeaderCellDef>Имя</th>
    <td mat-cell *matCellDef="let element">
      <ng-container *ngIf="!element.editing; else editMode">
        {{ element.firstname }}
      </ng-container>
      <ng-template #editMode>
        <input required type="text" [(ngModel)]="element.firstname" />
      </ng-template>
    </td>
  </ng-container>

  <ng-container matColumnDef="lastname">
    <th mat-header-cell *matHeaderCellDef>Фамилия</th>
    <td mat-cell *matCellDef="let element">
      <ng-container *ngIf="!element.editing; else editMode">
        {{ element.lastname }}
      </ng-container>
      <ng-template #editMode>
        <input type="text" [(ngModel)]="element.lastname" />
      </ng-template>
    </td>
  </ng-container>

  <ng-container matColumnDef="email">
    <th mat-header-cell *matHeaderCellDef>Email</th>
    <td mat-cell *matCellDef="let element">
      <ng-container *ngIf="!element.editing; else editMode">
        {{ element.email }}
      </ng-container>
      <ng-template #editMode>
        <input type="email" [(ngModel)]="element.email" />
      </ng-template>
    </td>
  </ng-container>

  <ng-container matColumnDef="age">
    <th mat-header-cell *matHeaderCellDef>Возраст</th>
    <td mat-cell *matCellDef="let element">
      <ng-container *ngIf="!element.editing; else editMode">
        {{ element.age }}
      </ng-container>
      <ng-template #editMode>
        <input type="number" [(ngModel)]="element.age" />
      </ng-template>
    </td>
  </ng-container>

  <ng-container matColumnDef="gender">
    <th mat-header-cell *matHeaderCellDef>Пол</th>
    <td mat-cell *matCellDef="let element">
      <ng-container *ngIf="!element.editing; else editMode">
        {{ element.gender }}
      </ng-container>
      <ng-template #editMode>
        <select [(ngModel)]="element.gender">
          <option>Мужской</option>
          <option>Женский</option>
        </select>
      </ng-template>
    </td>
  </ng-container>

  <ng-container matColumnDef="actions">
    <th mat-header-cell *matHeaderCellDef>Действия</th>
    <td mat-cell *matCellDef="let element">
      <ng-container *ngIf="!element.editing">
        <button
          mat-icon-button
          color="warn"
          aria-label="Delete person"
          (click)="openConfirmationDialog(element._id)"
        >
          <mat-icon>delete</mat-icon>
        </button>

        <button
          mat-icon-button
          class="edit-button"
          color="primary"
          aria-label="Edit person"
          (click)="toggleEditing(element)"
        >
          <mat-icon>edit</mat-icon>
        </button>
      </ng-container>
      <ng-container *ngIf="element.editing">
        <button
          mat-icon-button
          color="accent"
          aria-label="Save changes"
          (click)="updatePerson(element)"
        >
          <mat-icon>save</mat-icon>
        </button>
      </ng-container>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr
    mat-row
    *matRowDef="let row; columns: displayedColumns"
    [class.active]="row.active"
  ></tr>
</table>
<app-create-person></app-create-person>
